@font-face {
    font-family: "PrStart";
    font-style: normal;
    font-weight: 400;
    src: local("PrStart"),
            url("/fonts/PrStart.ttf") format("truetype"),
            url("/fonts/PrStart.ttf") format("truetype");
}
    body {
    font-family: "PrStart", "Arial", sans-serif;
}

.container {
    max-width: 600px; /* Ограничиваем ширину контейнера */
    text-align: center; /* Выравниваем текст по центру */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
}