@font-face {
    font-family: "PrStart";
    font-style: normal;
    font-weight: 400;
    src: local("PrStart"),
            url("/fonts/PrStart.ttf") format("truetype"),
            url("/fonts/PrStart.ttf") format("truetype");
}
    body {
    font-family: "PrStart", "Arial", sans-serif;
}